<md-input-container>
    <label>{{ label }} {{required}}</label>
    <input ng-model="ngModel"
           type="password"
           tabindex="{{ inputTabindex }}"
           name="{{ name }}"
           ng-required="!optional"
           validator-category="user"
           ga-input-validator="password">

    <div ng-if="form[name].$dirty" ng-messages="form[name].$error">
        <div ng-message="mismatch">Passwords do not match</div>
        <div ng-message="minlength">Password needs to be at least {{ lengths[0] }} characters long</div>
        <div ng-message="maxlength">Password can be up to {{ lengths[1] }} characters long</div>
        <div ng-message="required">Password is required</div>
    </div>
</md-input-container>