<form name="profilePasswordForm">
    <ga-password label="Current Password"
                 name="currentPassword"
                 input-tabindex="1"
                 optional="true"
                 ng-model="credentials.currentPassword">
    </ga-password>
    <ga-password label="New Password"
                 name="newPassword"
                 input-tabindex="2"
                 ng-model="credentials.newPassword">
    </ga-password>
    <ga-password label="New Password Repeat"
                 name="newPasswordRepeat"
                 input-tabindex="3"
                 repeat-password="credentials.newPassword"
                 ng-model="credentials.newPasswordRepeat">
    </ga-password>
    <div layout="row" layout-margin>
        <md-button flex ui-sref="profile.view({username: user.username})">Cancel</md-button>
        <md-button flex ng-click="save()"
                   ng-disabled="!profilePasswordForm.$valid || isLoading"
                   type="submit"
                   tabindex="4"
                   class="md-primary">Save
        </md-button>
    </div>
</form>