<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <div ng-controller="SidenavCtrl as vm" ng-cloak>
        <md-toolbar class="md-tall md-hue-2">
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <div layout="row">
                    <div flex="80" style="margin-top: 10px;">
                        <div><%= slugifiedAppName %></div>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ui-sref="home.dashboard">
                <div class="inset">
                    <ng-md-icon icon="apps"></ng-md-icon>
                </div>
                <p> Dashboard </p>
            </md-list-item>
            <md-list-item ng-repeat="item in vm.menu" ng-click="vm.navigateTo('home.' + item.link)">
                <div class="inset" ng-show="item.icon">
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <p > {{ item.name }}</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader>Admin</md-subheader>
            <md-list-item ng-repeat="item in vm.admin" ng-click="vm.showSettingsBottom($event)" >
                <div class="inset">
                    <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                </div>
                <p> {{ item.title }}</p>
            </md-list-item>
        </md-list>
    </div>
</md-sidenav>