<div layout="column" class="relative" layout-fill role="main">

    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="vm.toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                Lab Mendelics
            </h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>

    </md-toolbar>
    <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <h3 flex="10">
                Voltar
            </h3>
            <md-input-container md-theme="input" flex>
                <label>&nbsp;</label>
                <input ng-model="search.who" placeholder="Busca ...">
            </md-input-container>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>

    </md-toolbar>
    <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>


        </ui-view>
    </md-content>
</div>
