<!DOCTYPE html>
<html lang="pt" ng-app="<%= slugifiedAppName %>">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">
	<title><%= slugifiedAppName %></title>
	<meta name="description" content="<%= appDescription %>" />
	<meta name="author" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes" />
	<link rel="shortcut icon" href="app/assets/images/favicon.ico" />
	<link rel="apple-touch-icon" href="app/assets/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="app/assets/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="app/assets/images/apple-touch-icon-114x114.png" />
	<!-- injector:css -->
	<link rel="stylesheet" href="/src/bower_components/bootstrap/dist/css/bootstrap.css">
	<!-- endinjector -->
</head>
<body>

<!--Beginning-->
<section id="wrapper" scroll-to>
	<div class="view-slide-in" ui-view></div>
</section>
<!--End-->

<!-- injector:js -->
<!-- endinjector -->

</body>
</html>
