<!DOCTYPE html>
<html lang="pt" ng-app="<%= slugifiedAppName %>">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="/">
	<title><%= slugifiedAppName %></title>
	<meta name="description" content="<%= appDescription %>" />
	<meta name="author" content="" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=yes" />
	<link rel="shortcut icon" href="app/assets/images/favicon.ico" />
	<link rel="apple-touch-icon" href="app/assets/images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="app/assets/images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="app/assets/images/apple-touch-icon-114x114.png" />
	<!-- injector:css -->

	<!-- endinjector -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        md-content.md-blue-grey-theme {
            background-color: #eee;
        }

        md-toolbar:not(.md-hue-1),
        .md-fab {
            fill: #fff;
        }

        md-sidenav {
            fill: #737373;
        }

        md-sidenav ng-md-icon {
            position: relative;
            top: 5px;
        }

        .user-avatar {
            border-radius: 99%;
        }

        md-toolbar.md-tall {
            height: 64px;
            max-height: 64px;
            min-height: 64px;
        }
    </style>

</head>
<body ng-cloak layout="row">

<!--Beginning-->
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <div ng-include="'app/modules/layouts/side-nav/sidenav.html'" ng-controller="SidenavCtrl as vm" ng-cloak ng-hide="isLogged"></div>
</md-sidenav>

<div layout="column" class="relative" layout-fill role="main" ng-controller="LayoutCtrl as layout" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ng-click="layout.toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <md-icon md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
            </md-button>
            <h3>
                Lab Mendelics
            </h3>
            <span flex></span>

            <md-menu>
                <md-button aria-label="Open phone interactions menu" class="md-icon-button"
                           ng-click="layout.openMenu($mdOpenMenu, $event)">
                            <md-icon> more_vert </md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="layout.redial($event)">
                            <md-icon>face</md-icon>
                            Perfil
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ctrl.checkVoicemail()">
                            <md-icon>lock</md-icon>
                            Senha
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="layout.logOut()">
                            <md-icon>power_settings_new</md-icon>
                            Sair
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

    </md-toolbar>

    <md-content class="md-blue-grey-theme" flex md-scroll-y>
        <div ui-view layout="column" layout-fill layout-padding >


        </div>
    </md-content>
</div>
<!--End-->

<!-- injector:js -->
<!-- endinjector -->

<script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

</body>
</html>
